{% with database = opsview.database %}
opsview_database_root_username: {{ database.default.username }}
opsview_database_root_password: {{ database.default.password }}
opsview_core_database_root_username: {{ database.core.username }}
opsview_core_database_root_password: {{ database.core.password }}
opsview_reporting_database_root_username: {{ database.reporting.username }}
opsview_reporting_database_root_password: {{ database.reporting.password }}
{% endwith %}